@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:ital,wght@0,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/******* NAVBAR ********/
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}

.navbar .logoBox .logo{
    max-width: 90px;
}

.navbar .menuBox{
    width: 28%;
}

.navbar .menuBox li{
    position: relative;
    float: left;
    padding: 15px;
    list-style: none;
    margin: 0 4%;
}

.navbar .menuBox li a{
    text-decoration: none;
    color: hsl(243, 87%, 12%);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

/******* FIRST SECTION ********/
.secOne{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 3%;
    background: url(images/bg-curve-desktop.svg);
    background-position: bottom;
    background-repeat: no-repeat;
}

.secOne .textBox{
    padding: 0 3%;
}

.secOne .textBox h1{
    font-size: 2.5em;
}

.secOne .textBox p{
    padding: 5% 0;
    padding-right: 15%;
}

.secOne .textBox input{
    padding: 17px 20px;
    border-radius: 2px;
    border: 1px solid #000;
    width: 52%;
}

.secOne .textBox button{
    padding: 3% 12%;
    border-radius: 4px;
    background-color: hsl(224, 93%, 58%);
    color: #fff;
    border: none;
    cursor: pointer;
}

.secOne .illustration1 img{
    max-width: 100%;
}

.secOne .illustration1{
    display: flex;
    justify-content: center;
    align-items: center;
}

/******* SECOND SECTION ********/

.secTwo{
    display: flex;
    align-items: center;
    padding: 5% 6%;
    background-color: #F9F8FE;
}

.secTwo .textBoxTwo h1{
    font-size: 2.5em;
}

.secTwo .textBoxTwo a{
    text-decoration: none;
    color: hsl(170, 45%, 43%);
    border-bottom: 1px solid hsl(170, 45%, 43%);
}

.secTwo .textBoxTwo p{
    color: hsl(243, 87%, 12%);
    margin-top: 5%;
    margin-bottom: 2%;
    margin-right: 25%;
}

.secTwo .textBoxTwo img{
    width: 3%;
    margin-left: 5px;
}

.secTwo .quote{
    background-color: #fff;
    border-radius: 10px;
    padding: 30px 35px;
    width: 45%;
    margin-top: 50px;
}

.secTwo .quote .icon-quotes{
    width: 15px;
}

.secTwo .quote p{
    font-size: 0.9em;
    margin: 8% 0;
}

.secTwo .quote .profil{
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.secTwo .quote .avatar{
    width: 80%;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 0;
}

.secTwo .quote .profil h2{
    font-size: 1em;
    margin-top: 2%;
}

.secTwo .profil .job{
    font-size: 0.8em;
    margin: 0;
}

.secTwo .illustration2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 600px;
}

.secTwo .illustration2 img{
    max-width: 120%;
}

/******* SIGN SECTION ********/
.sign{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: hsl(238, 22%, 44%);
    padding: 7% 6%;
}

.sign .textBoxThree h1{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2em;
}

.sign .textBoxThree p{
    color: #fff;
    margin-top: 25px;
    margin-right: 15%;
}

.sign .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25%;
}

.sign .form input{
    padding: 3% 5%;
    border-radius: 3px;
    border: 1px solid;
}

.sign .form button{
    width: 38%;
    background-color: hsl(224, 93%, 58%);
    color: #fff;
    border: none;
    padding: 3% 0;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.7s;
}

.sign .form button:hover{
    background-color: #fff;
    color: hsl(224, 93%, 58%);
}

/******* FOOTER ********/
footer{
    padding: 5% 6%;
    background-color: hsl(243, 87%, 12%);
}

footer .logoFooter{
    width: 15%;
    margin: 1% 0;
}

.footer{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.footer .contact li{
    color: #fff;
    list-style: none;
    margin-bottom: 15px;
    font-size: 15px;
}

.footer .contact img{
    margin-right: 20px;
}

.footer .info li{
    list-style: none;
    margin-bottom: 15px;
}

.footer .info a{
    text-decoration: none;
    color: #fff;
}

.footer .sci li{
    float: left;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 3%;
    list-style: none;
    margin: 0 6px;
}

.footer .sci i{
    color: #fff;
    width: 16px;
    text-align: center;
    transition: all 0.8s ease-in-out;
}

.footer .sci .li-insta:hover{
    background-color: #fff;
}

.footer .sci .li-twitter:hover{
    background-color: #00acee;
    border: 1px solid #00acee;
}

.footer .sci .li-fb:hover{
    background-color: #3b5998;
    border: 1px solid #3b5998;
}

.footer .sci li:hover .fb, .twitter{
    color: #fff ;
}

.footer .sci li:hover .insta{
    background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

::-webkit-input-placeholder{
    opacity: 0.5;
}

/*** FORMAT MOBILE ****/

@media screen and (max-width: 375px){

    /******* NAVBAR ********/
    .navbar {
        position: initial;
        padding: 5% 6%;
    }

    .navbar .logoBox .logo {
        max-width: 80px;
        margin-top: 10px;
    }

    .navbar .menuBox li {
        float: left;
        padding: 8px;
        list-style: none;
    }

    .navbar .menuBox li a{
        font-size: 0.8em;
    }

    /******* FIRST SECTION ********/

    .secOne {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding: 30% 3%;
        background: url(images/bg-curve-mobile.svg);
        background-position: bottom;
        background-repeat: no-repeat;
    }

    .secOne .illustration1 img {
        max-width: 80%;
    }

    .secOne .textBox h1 {
        text-align: center;
        margin-top: 40px;
        font-size: 1.5em;
        line-height: 1.5em;
    }

    .secOne .textBox p {
        padding: 10% 1%;
        text-align: center;
    }

    .secOne .textBox input {
        padding: 17px 20px;
        border-radius: 5px;
        border: 1px solid #000;
        width: 100%;
        margin-bottom: 20px;
    }

    .secOne .textBox button {
        padding: 5% 12%;
        border-radius: 4px;
        background-color: hsl(224, 93%, 58%);
        color: #fff;
        font-size: 1em;
        border: none;
        width: 100%;
    }

    /******* SECOND SECTION ********/

    .secTwo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding: 25% 6%;
        background-color: #F9F8FE;
    }

    .secTwo .textBoxTwo{
        text-align: center;
    }

    .secTwo .textBoxTwo h1 {
        font-size: 1.1em;
    }

    .secTwo .textBoxTwo p {
        color: hsl(243, 87%, 12%);
        margin-right: 0;
        text-align: initial;
    }

    .secTwo .textBoxTwo img {
        width: 6%;
        margin-left: 3%;
    }

    .secTwo .textBoxTwo a {
        padding: 2% 0;
    }

    .secTwo .quote {
        background-color: #fff;
        border-radius: 10px;
        padding: 30px 35px;
        width: 100%;
        margin-top: 50px;
    }

    .secTwo .quote .icon-quotes {
        position: absolute;
        left: 12%;
    }

    .secTwo .quote .profil {
        grid-template-columns: 2fr 8fr;
    }

    .secTwo .quote .avatar {
        width: 80%;
        border-radius: 50%;
        margin-top: 4px;
        margin-left: 0;
    }

    .secTwo .quote .profil h2 {
        font-size: 1em;
        text-align: initial;
    }

    .secTwo .illustration2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25%;
    }

    .secTwo .illustration2 img {
        max-width: 90%;
    }

    /******* SIGN SECTION ********/
    .sign {
        display: block;
        padding: 20% 6%;
    }

    .sign .textBoxThree h1 {
        color: #fff;
        font-size: 1.5em;
        text-align: center;
    }

    .sign .textBoxThree p {
        color: #fff;
        margin: 25px 0;
        text-align: center;
    }

    .sign .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    .sign .form input, .sign .form button {
        width: 80%;
    }

    /******* FOOTER ********/
    footer {
        padding: 30% 12%;
    }

    footer .logoFooter {
        width: 60%;
        margin-bottom: 10%;
    }

    .footer {
        display: block;
    }

    .footer .info {
        margin: 20% 0;
    }

}