@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:ital,wght@0,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}

.navbar .logoBox .logo{
    max-width: 90px;
}

.navbar .menuBox li{
    float: left;
    padding: 15px;
    list-style: none;
}

.navbar .menuBox li a{
    text-decoration: none;
    color: hsl(243, 87%, 12%);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.secOne{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 3%;
    background: url(images/bg-curve-desktop.svg);
    background-position: bottom;
    background-repeat: no-repeat;
}

.secOne .textBox{
    padding: 0 3%;
}

.secOne .textBox h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
}

.secOne .textBox p{
    padding: 5% 0;
    padding-right: 15%;
}

.secOne .textBox input{
    padding: 12px 20px;
    border-radius: 2px;
    border: 1px solid #000;
    width: 52%;
}

.secOne .textBox button{
    padding: 2.1% 12%;
    border-radius: 4px;
    background-color: hsl(224, 93%, 58%);
    color: #fff;
}

.secOne .illustration1 img{
    max-width: 100%;
}

.secOne .illustration1{
    display: flex;
    justify-content: center;
    align-items: center;
}

/******* SECOND SECTION ********/

.secTwo{
    display: flex;
    align-items: center;
    padding: 5% 6%;
    background-color: #F9F8FE;
}

.secTwo .textBoxTwo h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
}

.secTwo .textBoxTwo a{
    text-decoration: none;
    color: hsl(170, 45%, 43%);
    border-bottom: 1px solid hsl(170, 45%, 43%);
}

.secTwo .textBoxTwo p{
    color: hsl(243, 87%, 12%);
    margin-top: 5%;
    margin-bottom: 2%;
    margin-right: 25%;
}

.secTwo .textBoxTwo img{
    width: 3%;
    margin-left: 5px;
}

.secTwo .quote{
    background-color: #fff;
    border-radius: 10px;
    padding: 30px 35px;
    width: 45%;
    margin-top: 50px;
}

.secTwo .quote .icon-quotes{
    width: 15px;
}

.secTwo .quote p{
    font-size: 0.9em;
    margin: 8% 0;
}

.secTwo .quote .profil{
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.secTwo .quote .avatar{
    width: 80%;
    border-radius: 50%;
    margin-top: 10px;
}

.secTwo .quote .profil h2{
    font-size: 1em;
    margin-top: 2%;
}

.secTwo .profil .job{
    font-size: 0.8em;
    margin: 0;
}

.secTwo .illustration2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 600px;
}

.secTwo .illustration2 img{
    max-width: 120%;
}

/******* SIGN SECTION ********/
.sign{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: hsl(238, 22%, 44%);
    padding: 8% 6%;
}

.sign .textBoxThree h1{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2em;
}

.sign .textBoxThree p{
    color: #fff;
    margin-top: 25px;
    margin-right: 15%;
}